<form action="/" method="POST">
    <br><label>Найти все сообщение одного пользователя</label><br>
    <input name="getName" type="text"><br>
    <button type="submit" name="name">Найти</button>
</form>