<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Сообщение</th>
    </tr>
    </thead>
    <tbody>
    {%  for row in message %}
        <tr>
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.text}}</td>
        </tr>
    {%  endfor %}
    </tbody>
</table>